:root{
    --blue-light: #B2DAE4;
    --yellow-light: #F8FE76;
    --plumbus-pink: #F9D9CA;
    --summer-tomato: #F29901;
    --portal-green: #39FF14;
    --solenya: #006300;
    --white-proof: #f7f7f7;
    --black-proo: #393E46;
    --sm: 14px;
    --md: 18px;
    --lg: 28px;
}
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    /* background-image: radial-gradient(circle, #b2dae4, #7de6ec, #32f1e1, #00f9c3, #00fe92, #47ff76, #6bff55, #8bff27, #afff39, #ccfe4d, #e4fe61, #f8fe76); */
    /* background-image: radial-gradient(circle, #f8fe76, #e4fe61, #ccfe4d, #afff39, #8bff27, #6bff55, #47ff76, #00fe92, #00f9c3, #32f1e1, #7de6ec, #b2dae4); */
}
a{
    text-decoration: none;
    color: white;
}
span{
    font-weight: bolder;
    display: block;
}
ul{
    list-style: none;
}
.inactive{
    display: none;
}
.defaul-backgound{
    z-index: -2;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url('https://live.staticflickr.com/65535/52769382671_859c6bce2b_o.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background{
    /* z-index: -1; */
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    background-image: url('https://live.staticflickr.com/65535/52769382671_859c6bce2b_o.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: changeBg 60s ease-in-out infinite alternate;
}
/* ------------------------------------Animaciones---------------------------*/
@keyframes changeBg {
    0% {
        background-image: url('https://live.staticflickr.com/65535/52769382671_859c6bce2b_o.jpg');
    }
    14% {
        background-image: url('https://live.staticflickr.com/65535/52766846681_9d89901ef0_h.jpg');
    }
    28% {
        background-image: url('https://live.staticflickr.com/65535/52767260260_72324ac053_h.jpg');
    }
    42%{
        background-image: url('https://live.staticflickr.com/65535/52766308982_50910dab07_h.jpg');
    }
    56% {
        background-image: url('https://live.staticflickr.com/65535/52766308912_bdb90c841c_h.jpg');
    }
    70% {
        background-image: url('https://live.staticflickr.com/65535/52767100244_8b31f3c604_h.jpg');
    }
    84%{
        background-image: url('https://live.staticflickr.com/65535/52767100304_42129ff55a_h.jpg');
    }
    100%{
        background-image: url('https://live.staticflickr.com/65535/52766846701_d96c11da32_h.jpg');
    }
}
@-webkit-keyframes changeBg{
    0% {
        -webkit-background-image: url('https://live.staticflickr.com/65535/52769382671_859c6bce2b_o.jpg');
    }
    14% {
        -webkit-background-image: url('https://live.staticflickr.com/65535/52766846681_9d89901ef0_h.jpg');
    }
    28% {
        -webkit-background-image: url('https://live.staticflickr.com/65535/52767260260_72324ac053_h.jpg');
    }
    42%{
        -webkit-background-image: url('https://live.staticflickr.com/65535/52766308982_50910dab07_h.jpg');
    }
    56% {
        -webkit-background-image: url('https://live.staticflickr.com/65535/52766308912_bdb90c841c_h.jpg');
    }
    70% {
        -webkit-background-image: url('https://live.staticflickr.com/65535/52767100244_8b31f3c604_h.jpg');
    }
    84%{
        -webkit-background-image: url('https://live.staticflickr.com/65535/52767100304_42129ff55a_h.jpg');
    }
    100%{
        -webkit-background-image: url('https://live.staticflickr.com/65535/52766846701_d96c11da32_h.jpg');
    }
}
@-moz-keyframes changeBg{
    0% {
        -moz-background-image: url('https://live.staticflickr.com/65535/52769382671_859c6bce2b_o.jpg');
    }
    14% {
        -moz-background-image: url('https://live.staticflickr.com/65535/52766846681_9d89901ef0_h.jpg');
    }
    28% {
        -moz-background-image: url('https://live.staticflickr.com/65535/52767260260_72324ac053_h.jpg');
    }
    42%{
        -moz-background-image: url('https://live.staticflickr.com/65535/52766308982_50910dab07_h.jpg');
    }
    56% {
        -moz-background-image: url('https://live.staticflickr.com/65535/52766308912_bdb90c841c_h.jpg');
    }
    70% {
        background-image: url('https://live.staticflickr.com/65535/52767100244_8b31f3c604_h.jpg');
    }
    84%{
        -moz-background-image: url('https://live.staticflickr.com/65535/52767100304_42129ff55a_h.jpg');
    }
    100%{
        -moz-background-image: url('https://live.staticflickr.com/65535/52766846701_d96c11da32_h.jpg');
    }
}
/* Navbar */
.navbar_container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    justify-content: center;
    border-bottom: 2px solid var(--portal-green);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    object-fit: cover;
    z-index: 1;
}
.navbar_container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}
.navbar_btn{
    /* margin-left: 0; */
    margin-bottom: 16px;
    padding: 10px;
    box-shadow: 2px 0px 10px 0px var(--portal-green);
    -webkit-box-shadow: 2px 0px 10px 0px var(--portal-green);
    -moz-box-shadow: 2px 0px 10px 0px var(--portal-green);
    border-radius: 10px;
    background-color: var(--black-proo);
}
.clicked{
    background-color: var(--portal-green);
}
.navbar_btn a{
    color: var(--white-proof);
    font-size: var(--md);
    font-weight: bold;
}

.navbar_container img:first-child{
    height: 68px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.navbar_container img:nth-child(2){
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 10px;
}
/* menu mobile */
.menu_mobile{
    font-size: var(--md);
    text-align: center;
    width: 160px;
    padding: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 1;
}

/* Cards */
.characters{
    padding-top: 100px;
}
.characters h1{
    font-size: var(--lg);
    color: var(--summer-tomato);
    font-weight: bold;
    backdrop-filter: brightness(0.3);
    -webkit-backdrop-filter: brightness(0.3);
    width: 50%;
    padding: 20px 0;
    margin: 0 auto 20px auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 12px 18px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 12px 18px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 18px -3px rgba(0,0,0,0.75);
}
.character_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 450px;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 12px 18px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 12px 18px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 18px -3px rgba(0,0,0,0.75);
}
.cards img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.cards .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 10px;
    gap: 10px;
    place-content: center;
    text-align: center;
    font-size: var(--sm);
    color: white;
    padding: 10px;
    height:150px; 
    backdrop-filter: brightness(0.3);
    -webkit-backdrop-filter: brightness(0.3);
    border-radius: 0 0 10px 10px;
}

/* Enlaces paginas */
.nav_page_container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-page-bar{
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: brightness(0.3);
    -webkit-backdrop-filter: brightness(0.3);
}
.navPage{
    color: white;
    text-decoration: none;
    padding-left: 5px;
    font-size: var(--sm);
    font-weight: bold;
}
.nav-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--summer-tomato);
}

/* Button up */
.up-btn{
    position: fixed;
    bottom: 0;
}

@media(min-width: 640px){
    :root{
        --sm: 10px;
        --md: 12px;
    }
    .navbar_container .inactive{
        display: flex;
    }
    .navbar_container{
        justify-content: start;
    }
    .navbar_container img:first-child{
        margin-left: 50px;
    }
    .navbar_container img:nth-child(2){
        display: none;
    }
    .menu_mobile{
        display: none;
    }
    .cards{
        width: 200px;
        height: 300px;
    }
    .cards .info{
        font-size: var(--sm);
    }
    .navPage{
        padding-left: 20px;
        font-size: var(--md);
    }
    .navbar_btn{
        margin-right: 100px;
        margin-bottom: 0px;
    }
    .nav-button {
        width: 50px;
        height: 50px;
    }
}